<h2>Registro usuarios:</h2>
<hr>
<form action="/api/sessions/registro" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    <input type="first_name" name="first_name" placeholder="first_name">
    <input type="last_name" name="last_name" placeholder="last_name">
    <input type="number" name="age" placeholder="age"> 
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Registrar">
</form>